@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GamesHorizon</h1>
    <p class="lead">A brand new games marketplace! Buy or sell games for 10$!</p>
    <p><a href="/Home/BrowseGames"  class="btn btn-primary btn-lg">Browse our games here &raquo;</a></p>
</div>

